 body{
	 font-family:arial, sans;
	 background-color: WhiteSmoke;
	 background-image: url("imh8.jpg");
 }
 .centrato{
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 
 }
 .contorno{
	       margin: 10px;
 }
 
 .schede {
	 margin-top: 40px;
 }
 .regole {
	 max-width: 560px;
	 
 }
 a {
	 text-decoration: none;
 }
