 body{
	 font-family:arial, sans;
	 background-color: WhiteSmoke
 }
 .centrato{
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 
 }
 .contorno{
	       margin: 10px;
 }
 
 .schede {
	 margin-top: 40px;
 }
 
